<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: Request Header Parser Microservice</h2>
        <p>
          If you go to <a href="https://m42-fcc-requestheaderparser.glitch.me/api/whoami">https://m42-fcc-requestheaderparser.glitch.me/api/whoami</a>, 
          this website will return a JSON object with your preffered language, IP address, and the software you are using.
        </p>
        
        
        
      </div>
      <div class="footer">
        <p>
          by <a href="http://www.freecodecamp.com">freeCodeCamp</a> | <a href="https://hyperdev.com/#!/remix/FCC_API_header_bplate/8c449aa9-a80c-47ad-8142-8da90f658731">Click here to Remix</a>
        </p>
      </div>
   </body>


</html>
